p {
  color: black;
  text-align: left;
}

body {
  background-color: #787575;
}

#menu {
  height: 25px;
  width: auto;
  background-color: white;
}

#head {
  height:200px;
  width: auto;
  background-color: white;
  border-style: groove;
}
