body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

h1{
  margin-left: 7%;
}
.cart-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.info input:focus {
	 box-shadow: 0 0 5px rgba(141, 57, 197, 1);
	 border: 1px solid rgba(141, 57, 197, 1);
}
.info input{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid lightgrey;
}
.cart-container-interno{
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.info{
  font-size: 18px;
  max-width: 400px;
  min-width:200px;
  padding: 15px;
  text-align: center;
  
  position:relative;
}

img{
  width: 104px;
}

#aggiorna:hover{
	animation: myAnim 1s ease 0s 1 normal forwards;
	cursor: pointer;
}

.info #aggiorna {
	padding: 5px;
	border: none;
	background-color: #9932CC;
	color: white;
	font-size: 16px;
	border-radius: 5px;
  	margin: 5% auto;
  	display:block;
}


.totale{
	display: flex;
	justify-content: flex-end;
}

.totale-interno{
	margin: 20px;
	padding: 20px;
	font-size: 18px;
}
.carrello-vuoto{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  	max-width: 250px;
  	text-align: center;
  	padding: 20px;
	border-radius: 5px;
	margin:20px auto;
	width:50%;
	font-size:25px;
}
.totale-interno #aggiorna{
	padding: 10px;
	border: none;
	background-color: #9932CC;
	color: white;
	font-size: 16px;
	width: 100%;
	border-radius: 10px;
  	margin: 5px auto;
}

@keyframes myAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}



.noselect {
 width: 150px;
 height: 50px;
 cursor: pointer;
 display: flex;
 align-items: center;
 background: red;
 border: none;
 border-radius: 5px;
 box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
 background: #e62222;
}

.noselect, .noselect span {
 transition: 200ms;
}

.noselect .text {
 transform: translateX(35px);
 color: white;
 font-weight: bold;
}

.noselect .icon {
 position: absolute;
 border-left: 1px solid #c41b1b;
 transform: translateX(110px);
 height: 40px;
 width: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.noselect svg {
 width: 15px;
 fill: #eee;
}

.noselect:hover {
 background: #ff3636;
}

.noselect:hover .text {
 color: transparent;
}

.noselect:hover .icon {
 width: 150px;
 border-left: none;
 transform: translateX(0);
}

.noselect:focus {
 outline: none;
}

.noselect:active .icon svg {
 transform: scale(0.8);
}




