body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

#checkbox{
  width: 20px;
  margin-right: 8%;
}

h1{
  margin-left: 7%;
}
.cart-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.info-prodotto input:focus {
	 box-shadow: 0 0 5px rgba(141, 57, 197, 1);
	 border: 1px solid rgba(141, 57, 197, 1);
}
.info-prodotto input{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid lightgrey;
  width:40px;
}
.cart-container-interno{
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.info-prodotto{
  font-size: 1.5em;
  width:25%;
  padding: 15px;
  text-align: center;
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;
}

.info-prodotto img{
  width: 104px;
}

#aggiorna:hover{
	animation: myAnim 1s ease 0s 1 normal forwards;
	cursor: pointer;
}

.info-prodotto #aggiorna {
	padding: 5px;
	border: none;
	background-color: #9932CC;
	color: white;
	font-size: 16px;
	border-radius: 5px;
  	margin: 5% auto;
  	display:block;
}


.totale{
	display: flex;
	justify-content: flex-end;
}

.totale-interno{
	margin: 20px;
	padding: 20px;
	font-size: 18px;
}
.carrello-vuoto{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  	max-width: 250px;
  	text-align: center;
  	padding: 20px;
	border-radius: 5px;
	margin:20px auto;
	width:50%;
	font-size:25px;
}
.totale-interno #aggiorna{
	padding: 10px;
	border: none;
	background-color: #9932CC;
	color: white;
	font-size: 16px;
	width: 100%;
	border-radius: 10px;
  	margin: 5px auto;
}

/*
 media resposnive*/
@media (max-width:768px){
	
	.cart-container-interno{
	flex-direction:column;
	justify-content: center;
	align-items:center;
	}
}
@media (min-width:769px) and (max-width:1100px) {
	
	.cart-container-interno{
	flex-wrap:wrap;
}
	.info-prodotto{
		width: 33.33%;
	}
	.flex-el{
		width: 50%;
	}

}

.noselect {
 width: 150px;
 height: 50px;
 cursor: pointer;
 display: flex;
 align-items: center;
 background: red;
 border: none;
 border-radius: 5px;
 box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
 background: #e62222;
}

.noselect, .noselect span {
 transition: 200ms;
}

.noselect .text {
 transform: translateX(35px);
 color: white;
 font-weight: bold;
}

.noselect .icon {
 position: absolute;
 border-left: 1px solid #c41b1b;
 transform: translateX(110px);
 height: 40px;
 width: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.noselect svg {
 width: 15px;
 fill: #eee;
}

.noselect:hover {
 background: #ff3636;
}

.noselect:hover .text {
 color: transparent;
}

.noselect:hover .icon {
 width: 150px;
 border-left: none;
 transform: translateX(0);
}

.noselect:focus {
 outline: none;
}

.noselect:active .icon svg {
 transform: scale(0.8);
}


.noselect2 {
 width: 150px;
 height: 50px;
 cursor: pointer;
 display: flex;
 align-items: center;
 background: red;
 border: none;
 border-radius: 5px;
 box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
 background: green;
}

.noselect2, .noselect2 span {
 transition: 200ms;
}

.noselect2 .text {
 transform: translateX(35px);
 color: white;
 font-weight: bold;
}

.noselect2 .icon {
 position: absolute;
 border-left: 1px solid ;
 transform: translateX(110px);
 height: 40px;
 width: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.noselect2 svg {
 width: 15px;
 fill: #eee;
}

.noselect2:hover {
 background: green;
}

.noselect2:hover .text {
 color: transparent;
}

.noselect2:hover .icon {
 width: 150px;
 border-left: none;
 transform: translateX(0);
}

.noselect2:focus {
 outline: none;
}

.noselect2:active .icon svg {
 transform: scale(0.8);
}



