.section {
  max-width: 1600px;
  padding: 35px;
  margin: 40px auto;
  display: grid;
  gap: 3.5em 2em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  height: 400px;
  border-radius: 10px;
}

.grid-card:hover{
	box-shadow: 0 4px 8px 0 rgba(153, 50, 204, 0.4);
	border: 1px solid #9932CC;
	animation: hoverproduct 0.5s ease 0s normal forwards;
}

.cliccabile{
	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: space-between;
  	border-bottom:1px solid black;
}

.img{
  width: 150px;
}
.img img{
  width: 100%;
  height: 100%;
}

.section .inside {
  z-index: 1;
  background: #0e1ebb;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}
.section .inside .icon {
  position: absolute;
  right: 85px;
  top: 85px;
  color: white;
  opacity: 1;
}
.section .inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0 0 25px 25px;
  height: 75%;
  opacity: 0.9;
}
.section .inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}
.section .inside:hover .contents {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}
.section .inside .contents {
  padding: 5%;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
}

.section .inside .contents h1, .section .inside .contents p {
  color: white;
}
.section .inside .contents p {
  font-size: 13px;
  line-height: 1.75;
}

.addMessage {
	display: none;
}

.nome_prodotto {
	text-align: center;
}


.prezzo p{
	font-weight: bold;
    font-size: 1.4em;
    color: mediumseagreen;
}



  
  /* bottoni */
  


.addtocart{
  display:block;
  padding:0.5em 1em 0.5em 1em;
  border-radius:100px;
  border:none;
  font-size:1em;
  position:relative;
  background:#0652DD;
  cursor:pointer;
  height:3em;
  width:10em;
  overflow:hidden;
  transition:transform 0.1s;
  z-index:1;
}
.addtocart:hover{
  transform:scale(1.1);
}
.pretext{
  color:#fff;
  background:#0652DD;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: 'Quicksand', sans-serif;
}

.done{
  background:#be2edd;
  position:absolute;
  width:100%;
  top:0;
  left:0;
  transition:transform 0.3s ease;

  transform:translate(-110%) skew(-40deg);
}
.posttext{
  background:#be2edd;
}

  
  
  
  
  @keyframes myAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes hoverproduct {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}