body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  min-height: 100vh;
}

#mail {
	text-decoration: none;
	color: white;
}

footer{
  
  position: sticky;
  top:100%;
}

.contenitore{
  background: #9932CC;
  max-width: 100%;
  padding: 3%;
  display: flex;

}
.social-icon{
  width: 100%;
  display: flex;
  justify-content: center;
}
.social-icon ul{
  padding: 0;
  list-style-type:none;
}
.social-icon ul li{
  display: inline-block;
}
.info_footer{
 
 
  color: white;
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info_footer ul{
  padding: 0;
  list-style:none;
  text-align:center;

}
.info_footer ul li{
  padding: 2px;
  font-size: 1.2em;
  opacity: 0.8;
}
.info_footer p{
  font-size: 1.3em;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {

	.contenitore{
	flex-direction:column;
	}

  .info_footer{
    width: 100%;
    max-height: 30%;
  }
}

.fa {
  padding: 10px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
  }
.fa-instagram {
 background: #125688;
  color: white;
}



*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}