body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

.container-icon{
	right: 1em;
	position: absolute;
	bottom: 1em;
	
}

footer p{
    padding:0;
    font-size: 0.8em;
    color: hsla(0, 50%, 100%, 0.35);
    margin: 1em 0;
    font-size: 1rem;
}

footer ul{
    list-style: none;
    display: flex;
    margin: 1em 0;
}

footer ul li a{
    padding: 2em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.904);
    margin: auto 1px;
    transition: 100ms;
}

footer ul li a:hover{
    color: var(--primary);
}

footer{
    width:auto;
    background: #8d39c5;
    color: #fff;
    display: grid;
    place-items: center;
    padding: 2em;
    font-size: 1.2rem;
    position: relative;
}

.fa{
  margin: 2px;
  padding: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 30%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #ff0080;
  color: white;
}
/* Sticky Footer Styling */

.sticky-footer{
    position: sticky;
    top: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}