body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  min-height: 100vh;
}

a{
  text-decoration: none;
}

.header{
  width: 100%;
  padding: 30px;
  background-image: url("../Images/backgroundImage.png");
  background-size:60%;
  position:relative;
}

.header_filter{
  background: white;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 0;
  opacity: 0.5;
}

.logo{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  	width:250px;
  	height:100px;
  	border: 1px solid lightgrey;
  	border-radius:12px;
  	position: relative;
  	background-image: url("../Images/logopreciso.png");
  	background-size:cover;
  	background-position: center center;
  	background-repeat: no-repeat;
  	z-index: 1;
  	
}

.logo img{
  width:350px;
}

.navbar{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: #9932CC;
  position: sticky;
  top: 0;
  z-index: 2;
}

.icons{
  position: inherit;
  width: 16px;
  height: 16px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu ul li{
  display: inline-block;
}

.menu ul li a{
  padding: 12px;
  display: block;
  color: white;
  margin:auto;
}


.menu ul li a:hover{
  background: #B23AEE;
  color: white;
}

/* navbar caalogo */
.catalogo ul li{
  display: inline-block;
}

.catalogo ul li a{
  padding: 12px;
  display: block;
  color: white;
  font-size: 18px;
}

.catalogo ul li a:hover{
  background: #B23AEE;
}



