.slider {
  margin: 0 auto;
}

.slide_viewer {
  height: 700px;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}
.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background: url('../Images/slideshow4.jpg');
  background-size:cover;
}

.slide:nth-of-type(2) {
  background: url('../Images/image4.jpg');
  background-size:cover;
}

.slide:nth-of-type(3) {
  background: url('../Images/slideshow5.jpg');
  background-size:cover;
}




.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: #428CC6;
  cursor: pointer;
}

.directional_nav {
  margin: 0 auto;
  position: relative;
  top: -350px;
}

.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
  .directional_nav {
     display: none;
}
}








.titolo_centrato{
  margin: 5% auto;
  width:50%;
  text-align: center;
}
.titolo_centrato h2{
	font-size:2.5rem;
	color: #9932CC;
}
.content{
  width: 100%;
  margin: 16% auto;
}

.content_img{
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.content_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.description{
  height: 40%;
  padding:5%;
}
.description p{
	
	line-height: 1.4;
}

.content_flex{
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr;
  margin: 5% auto;
  gap: 2rem;
}

.main_card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_card:hover {
	cursor: pointer;	
}

.main_card img{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

@media (min-width:768px){
  .slide_show{
    width: 70%;
    margin: 5% auto;
  }

  .content_flex{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .content{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    background-color:#2e53a1;
    margin: 6% auto;
  }
  .content_reverse{
  	background-color:#5cb2bd;
  }
  .content_img{
    width: 60%;
    height:100%;
    justify-content: flex-start;
  }
  .content_img img{
    width: 70%;
    height:70%;
    
  }
  .description{
    width: 40%;
    height:100%;
  }
  
  .content_img_reverse{
    display: flex;
    order: 1;
      justify-content: flex-end;
  }
  .content_img_reverse img{
    width: 100%;
    height:100%;
  }
  .description p{
  	color:white;
  }
}



*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}