.container-catalogo{
  display: flex;
  width: 100%;
  height: auto;
  justify-content:  flex-start;
  flex-wrap: wrap;
  padding: 100px;
  gap: 30px 40px;
}

.prodotto{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  text-align: center;
  padding: 20px;
}
.prodotto:hover{
	animation: myAnim 1s ease 0s 1 normal forwards;
}


.prodotto img {
  max-width: 80%;
}

prodotto h4 {
  text-align: left;
}

.prezzo {
  font-size: 16px;
}

.prodotto button {
	padding: 10px;
	border: none;
	background-color: #9932CC;
	color: white;
	font-size: 16px;
	width: 80%;
}

.prodotto button:hover{
	opacity: 0.7;
	cursor: pointer;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
@keyframes myAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}