.grid-display{
  margin: 10% auto;
  width: 80%;

}

.immagine_prodotto img{
  width: 80%;

}
.immagine_prodotto {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.informazioni_prodotto{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (min-width:768px){
  .grid-display{
    width: 70%;
    display: grid;
    grid-template-columns: 60% 40%;
  }


}


.nome_prodotto h1{
  font-size: 2.5em;
  font-weight: bolder;
}

.descrizione_prodotto p{
  font-size: 1.5em;
  line-height:2rem;
}

.prezzo_prodotto{
  font-size: 2em;
}

.info_pagamento{
  margin-bottom: 6%;
}
.info_pagamento ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.info_pagamento ul li{
  font-size: 0.9em;
  display: flex;
    align-items: center;
}

.info_pagamento_testo{
  margin-left: 2%;
}



.acquistare{
  display: flex;
  justify-content: space-between;
}

.input_quantita{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.input_quantita input{
  width: 50px;
}

.bottone_prodotto{
  width: 70%;
  display: flex;
  justify-content:center;
  align-items: center;
}

.sale {
	color: red;	
}

.full-price {
	font-size: .8em;
	text-decoration: line-through;
	color: grey;
}

/* bottone */
.addtocart{
  display:block;
  padding:0.5em 1em 0.5em 1em;
  border-radius:100px;
  border:none;
  font-size:1em;
  position:relative;
  background:#0652DD;
  cursor:pointer;
  height:3em;
  width:10em;
  overflow:hidden;
  transition:transform 0.1s;
  z-index:1;
}
.addtocart:hover{
  transform:scale(1.1);
}
.pretext{
  color:#fff;
  background:#0652DD;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: 'Quicksand', sans-serif;
}

.pretext-terminato{
  color:#fff;
  background:red;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: 'Quicksand', sans-serif;
}

.done{
  background:#be2edd;
  position:absolute;
  width:100%;
  top:0;
  left:0;
  transition:transform 0.3s ease;

  transform:translate(-110%) skew(-40deg);
}
.posttext{
  background:#be2edd;
}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }


  .input_prodotto[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: inherit;
}
textarea{
	font-size:1rem;
}
.input_prodotto[type=text]:focus, textarea:focus, select:focus{
	outline: 2px solid darkblue;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.input_prodotto[type=submit] {
  margin: 2%;
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.input_prodotto[type=submit]:hover {
  background-color: #45a049;
}

.modifica_recensione:hover {
  background-color: #45a049;
}
.container_form {
  border-radius: 5px;
 width:60%;
 margin:3% auto;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, .input_prodotto[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}



.c4l-rating input[name="voto"] { display: none; }
.c4l-rating input[name="voto"] + label:after { content: none; }
.c4l-rating input[name="voto"] + label { font-family: 'FontAwesome'; }
.c4l-rating input[name="voto"] + label:before {
    background-color: transparent;
    border: none;
    color: #9932CC;
    content: '\f005';
    font-size: 1.33333333em;
    transition: none;
}
.c4l-rating input[name="voto"]:checked ~ label:before {
    background-color: transparent;
    border: none;
    color: #607d8b;
}
.c4l-rating input[name="voto"]:checked + label:before { color: #9932CC; }
.c4l-rating input[name="voto"] + label:hover ~ input + label:before { opacity: 0.6; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
