.grid-display{
  margin: 10% auto;
  width: 80%;

}

.immagine_prodotto img{
  width: 80%;

}
.immagine_prodotto {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.informazioni_prodotto{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (min-width:768px){
  .grid-display{
    width: 70%;
    display: grid;
    grid-template-columns: 60% 40%;
  }


}


.nome_prodotto h1{
  font-size: 2.5em;
  font-weight: bolder;
}

.descrizione_prodotto{
  font-size: 1.5em;
}

.prezzo_prodotto{
  font-size: 2em;
}

.info_pagamento{
  margin-bottom: 6%;
}
.info_pagamento ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.info_pagamento ul li{
  font-size: 0.9em;
  display: flex;
    align-items: center;
}

.info_pagamento_testo{
  margin-left: 2%;
}



.acquistare{
  display: flex;
  justify-content: space-between;
}

.input_quantita{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.input_quantita input{
  width: 50px;
}

.bottone_prodotto{
  width: 70%;
  display: flex;
  justify-content:center;
  align-items: center;
}





/* bottone */
.addtocart{
  display:block;
  padding:0.5em 1em 0.5em 1em;
  border-radius:100px;
  border:none;
  font-size:1em;
  position:relative;
  background:#0652DD;
  cursor:pointer;
  height:3em;
  width:10em;
  overflow:hidden;
  transition:transform 0.1s;
  z-index:1;
}
.addtocart:hover{
  transform:scale(1.1);
}
.pretext{
  color:#fff;
  background:#0652DD;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: 'Quicksand', sans-serif;
}

.done{
  background:#be2edd;
  position:absolute;
  width:100%;
  top:0;
  left:0;
  transition:transform 0.3s ease;

  transform:translate(-110%) skew(-40deg);
}
.posttext{
  background:#be2edd;
}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
