.dati p{
  padding: 50px;
}

.login {
  padding: 50px;
}

.dati input[type=submit] {
	margin-bottom: 20px;
	margin-left: 50px;
}

.gestisciProdotti table {
	margin: 50px;
}

.aggiungiProdotto form {
	margin: 50px;
}

.aggiungiProdotto h3 {
	margin: 50px;
}

.login p {
	color: red;
}

.prodottoDettagli form {
	padding: 50px;
}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
