.dati p{
  padding: 50px;
}

.login {
  padding: 50px;
}

.dati input[type=submit] {
	margin-bottom: 20px;
	margin-left: 50px;
}

.gestisciProdotti table {
	margin: 50px;
}

.aggiungiProdotto form {
	margin: 50px;
}

.aggiungiProdotto h3 {
	margin: 50px;
}

.login p {
	color: red;
}

.container-info{
  display: flex;
  width: 100%;
  height: auto;
  justify-content:  flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 100px;
  gap: 30px 40px;
  
}
.container-info-interno{
	display:flex;
	width: 100%;
	height: auto;
  	justify-content:  flex-start;
  	flex-wrap: nowrap;
  	padding:30px;
}

.info{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  height: auto;
  text-align: center;
  padding: 20px;
  border-radius:10px;
  margin:auto 15px;
}

button {
  padding: 10px;
  margin-left: 20px;
  border: none;
  background-color: #9932CC;
  color: white;
  font-size: 16px;
  width: auto;
  border-radius: 10px;
}

button:hover{
	cursor: pointer;
}

.info:hover{
	background: lightgrey;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
