

.login {
  padding: 50px;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.dati input[type=submit] {
	margin-bottom: 20px;
	margin-left: 50px;
}



.container-info{
  display: flex;
  width: 100%;
  height: auto;
  justify-content:  flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 100px;
  font-size:18px;
}

.container-info-interno{
	display:flex;
	width: 100%;
	height: auto;
  	justify-content:  flex-start;
  	flex-wrap: wrap;
  	padding:30px;
  	gap: 30px 40px;
}

.info{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  min-width:350px;
  min-height:550px;
  display:flex;
  flex-direction:column;
  align-items:center;
  padding: 20px;
  border-radius:10px;
  margin:auto 15px;
  position: relative;
}
.prova{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);    
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.info img{
	max-width:100%;
	
}

#aggiungi{
	font-size:8px;
}

.info:hover{
	background: lightgrey;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}



.cta {
 position: relative;
 margin: auto;
 padding: 12px 18px;
 transition: all 0.2s ease;
 border: none;
 background: none;
}

.cta:before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 display: block;
 border-radius: 50px;
 background: #b1dae7;
 width: 45px;
 height: 45px;
 transition: all 0.3s ease;
}

.cta span {
 position: relative;
 font-family: "Ubuntu", sans-serif;
 font-size: 18px;
 font-weight: 700;
 letter-spacing: 0.05em;
 color: #234567;
}

.cta svg {
 position: relative;
 top: 0;
 margin-left: 10px;
 fill: none;
 stroke-linecap: round;
 stroke-linejoin: round;
 stroke: #234567;
 stroke-width: 2;
 transform: translateX(-5px);
 transition: all 0.3s ease;
}

.cta:hover:before {
 width: 100%;
 background: #b1dae7;
}

.cta:hover svg {
 transform: translateX(0);
}

.cta:active {
 transform: scale(0.95);
}