.dati p{
  padding: 50px;
}

.login {
  padding: 50px;
}

.dati input[type=submit] {
	margin-bottom: 20px;
	margin-left: 50px;
}

.gestisciProdotti table {
	margin: 50px;
}

.aggiungiProdotto form {
	margin: 50px;
}

.aggiungiProdotto h3 {
	margin: 50px;
}

.login p {
	color: red;
}

.container-info{
  display: flex;
  width: 100%;
  height: auto;
  justify-content:  flex-start;
  flex-wrap: wrap;
  padding: 100px;
  gap: 30px 40px;
}

.info{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  text-align: center;
  padding: 20px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
